/* FONT */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Nunito:300);
$font_main: "Open Sans";
$font_head: "Nunito";
$font_color: white;

/* COLOR */
$color_main: #23A6D5;
$color_accent: #23D5AB;

$color_secondary: #EE7752;
$color_secondary_accent: #E73C7E;

/* BACKGROUND */
$background: "../img/background.jpg";
