@mixin animate($animation, $time) {
  -webkit-animation: $animation $time ease infinite;
  -moz-animation: $animation $time ease infinite;
  -o-animation: $animation $time ease infinite;
  animation: $animation $time ease infinite;
}

@mixin grayscale($percent) {
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  -o-filter: grayscale($percent);
  filter: grayscale($percent);
}

@mixin gradient($deg, $a, $b, $c, $d) {
  background: -moz-linear-gradient($deg, $a, $b, $c, $d);
  background: -webkit-linear-gradient($deg, $a, $b, $c, $d);
  background: linear-gradient($deg, $a, $b, $c, $d);
}

@mixin transition($time) {
	-webkit-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}
